.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    padding: 0;
    margin-left: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon {
    margin-right: 15px;
}

.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    /* 内边距 */
    border-radius: 5px;
    font-weight: 500px;
}

.sidebarHr {
    margin: 20px 0;
    /*上下，左右*/
}

.sidebarFriendList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebarFriend {
    display: flex;
    align-items: center;
    /* align-self 属性是应用于容器内单个项目的，用于覆盖align-items属性为该项目指定的对齐方式 */
    margin-bottom: 15px;
}

.sidebarFriendImg {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}