.rightbar {
    flex: 3.5;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
    /* 上右下左 */
}

.brithdayContainer {
    display: flex;
    align-items: center;
}

.brithdayImg {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.brithdayText {
    font-size: 15px;
    font-weight: 300;
}

.rightbarAd {
    width: 100%;
    margin: 30px 0;
    border-radius: 10px;
}

.rightbarTitle {
    margin-bottom: 20px;
}

.rightbarFriendList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.rightbarTitle {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

.rightbarInfo {
    margin-bottom: 30px;
}

.rightbarInfoItem {
    margin-bottom: 10px;
}

.rightbarInfoKey {
    font-weight: 500;
    margin-right: 10px;
    color: darkslategrey;
}

.rightbarInfoValue {
    font-weight: 300;
}

.rightbarFollowings {
    /*该容器内的项目会在必要时换行，并且项目之间会等间距排列，两端的项目紧贴容器的边缘。*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightbarFollowingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}